<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Bass-Lg Mth</string>
	<key>1</key>
	<string>Bass-Sm Mth</string>
	<key>2</key>
   	<string>Bass-Rock</string>
	<key>3</key>
   	<string>Bass-Striped</string>
	<key>4</key>
	<string>Bluegill</string>
	<key>5</key>
	<string>Bullhead</string>
	<key>6</key>
   	<string>Carp</string>
	<key>7</key>
   	<string>Catfish</string>
	<key>8</key>
   	<string>Cord</string>
	<key>9</key>
   	<string>Dorado</string>
	<key>10</key>
	<string>Grouper</string>
	<key>11</key>
	<string>Mackeral</string>
	<key>12</key>
   	<string>Marlin</string>
	<key>13</key>
   	<string>Muskie</string>
	<key>14</key>
	<string>Perch</string>
	<key>15</key>
	<string>Pike</string>
	<key>16</key>
   	<string>Pompino</string>
	<key>17</key>
   	<string>Salmon-Atlantic</string>
	<key>18</key>
   	<string>Salmon-Copper</string>
	<key>19</key>
   	<string>Salmon-King</string>
    <key>20</key>
    <string>Shark</string>
    <key>21</key>
    <string>Sturgeon</string>
    <key>22</key>
    <string>Swordfish</string>
    <key>23</key>
    <string>Trout-Brook</string>
    <key>24</key>
    <string>Trout-Brown</string>
    <key>25</key>
    <string>Trout-Cut Throat</string>
    <key>26</key>
    <string>Trout-Dolly</string>
    <key>27</key>
    <string>Trout-Steel</string>
    <key>28</key>
    <string>Crappie</string>
    <key>29</key>
    <string>Walleye</string>
    
    <key>30</key>
    <string>zh_fish1</string>
    <key>31</key>
    <string>zh_fish2</string>
    <key>32</key>
    <string>zh_fish3</string>
    <key>33</key>
    <string>zh_fish4</string>
    <key>34</key>
    <string>zh_fish5</string>
    <key>35</key>
    <string>zh_fish6</string>
    <key>36</key>
    <string>zh_fish7</string>
    <key>37</key>
    <string>zh_fish8</string>
    <key>38</key>
    <string>zh_fish9</string>
    <key>39</key>
    <string>zh_fish10</string>


    <key>40</key>
    <string>Sterlet</string>
    <key>41</key>
    <string>Beluga</string>
    <key>42</key>
    <string>Sturgeon-Starry</string>
    <key>43</key>
    <string>Sturgeon-Russian</string>
    <key>44</key>
    <string>River Eel</string>
    <key>45</key>
    <string>Roach</string>
    <key>46</key>
    <string>Chub</string>
    <key>47</key>
    <string>Chevin</string>
    <key>48</key>
    <string>Perlín</string>
    <key>49</key>
    <string>White Amur</string>
    <key>50</key>
    <string>Asp</string>
    <key>51</key>
    <string>Tench</string>
    <key>52</key>
    <string>Common Nase</string>
    <key>53</key>
    <string>Parma General</string>
    <key>54</key>
    <string>Bream</string>
    <key>55</key>
    <string>Carp-Crucian</string>
    <key>56</key>
    <string>Carp-Bighead</string>
    <key>57</key>
    <string>Bullhead-Brown</string>
    <key>58</key>
    <string>Grayling</string>
    <key>59</key>
    <string>Sunfish</string>
    <key>60</key>
    <string>Zander</string>

    <key>61</key>
    <string>uk_fish1</string>
    <key>62</key>
    <string>uk_fish2</string>
    <key>63</key>
    <string>uk_fish3</string>
    <key>64</key>
    <string>uk_fish4</string>
    <key>65</key>
    <string>uk_fish5</string>
    <key>66</key>
    <string>uk_fish6</string>
    <key>67</key>
    <string>uk_fish7</string>
    <key>68</key>
    <string>uk_fish8</string>
    <key>69</key>
    <string>uk_fish9</string>
    <key>70</key>
    <string>uk_fish10</string>
    <key>71</key>
    <string>uk_fish11</string>
    <key>72</key>
    <string>uk_fish12</string>
    <key>73</key>
    <string>uk_fish13</string>
    <key>74</key>
    <string>uk_fish14</string>
    <key>75</key>
    <string>uk_fish15</string>
    <key>76</key>
    <string>uk_fish16</string>
    <key>77</key>
    <string>uk_fish17</string>
    <key>78</key>
    <string>uk_fish18</string>
    <key>79</key>
    <string>uk_fish19</string>
    <key>80</key>
    <string>uk_fish20</string>
    <key>81</key>
    <string>uk_fish21</string>
    <key>82</key>
    <string>uk_fish22</string>
    <key>83</key>
    <string>uk_fish23</string>
    <key>84</key>
    <string>uk_fish24</string>
    <key>85</key>
    <string>uk_fish25</string>
    <key>86</key>
    <string>uk_fish26</string>
    <key>87</key>
    <string>uk_fish27</string>
    <key>88</key>
    <string>uk_fish28</string>
    <key>89</key>
    <string>uk_fish29</string>
    <key>90</key>
    <string>uk_fish30</string>
    <key>91</key>
    <string>uk_fish31</string>
    <key>92</key>
    <string>uk_fish32</string>
    <key>93</key>
    <string>uk_fish33</string>
    <key>94</key>
    <string>uk_fish34</string>
    <key>95</key>
    <string>uk_fish35</string>
    <key>96</key>
    <string>uk_fish36</string>
    <key>97</key>
    <string>uk_fish37</string>
    <key>98</key>
    <string>uk_fish38</string>
    <key>99</key>
    <string>uk_fish39</string>
    <key>100</key>
    <string>uk_fish40</string>
    <key>101</key>
    <string>uk_fish41</string>
    <key>102</key>
    <string>uk_fish42</string>
    <key>103</key>
    <string>uk_fish43</string>
    <key>104</key>
    <string>uk_fish44</string>
    <key>105</key>
    <string>uk_fish45</string>
    <key>106</key>
    <string>uk_fish46</string>
    <key>107</key>
    <string>uk_fish47</string>
    <key>108</key>
    <string>uk_fish48</string>
    <key>109</key>
    <string>uk_fish49</string>
    <key>110</key>
    <string>uk_fish50</string>
    <key>111</key>
    <string>uk_fish51</string>
    <key>112</key>
    <string>Bream-Nembwe</string>
    <key>113</key>
    <string>Bream-Three Spot</string>
    <key>114</key>
    <string>Bream-Thin Face</string>
    <key>115</key>
    <string>Bream-Pink Happy</string>
    <key>116</key>
    <string>Bream-Red Breast</string>
    <key>117</key>
    <string>Barbel</string>
    <key>118</key>
    <string>Tigerfish</string>

</dict>
</plist>
