<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reelsonar.ibobber">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Aeris Library uses the network state to determine if network is availabe to make calls -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Google maps requries this now with tiles -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- (Optional If you want location services to be used as well) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".BobberApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <!--<meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />-->
        <meta-data
            android:name="com.google.android.wearable.beta.app"
            android:resource="@xml/wearable_app_desc" />

        <activity
            android:name=".sonar.SonarLiveActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.SONAR_LIVE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.reelsonar.ibobber.Actions.CATEGORY_INITIAL_DEMO" />
            </intent-filter>

            <!--Appflyer deeplinking-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ibobber" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".sonar.SonarLiveRawActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.SONAR_LIVE_RAW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.reelsonar.ibobber.Actions.CATEGORY_INITIAL_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sonar.SonarExploreActivity"
            android:label="@string/bottom_menu_sonar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.SONAR_EXPLORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.FirmwareUpdateActivity"
            android:label="@string/firmware_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeatherActivity"
            android:label="@string/bottom_menu_weather"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.WEATHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/bottom_menu_weather"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.CALENDAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActiveUsersGlobeActivity"
            android:label="Global Plotters"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.ACTIVE_USERS_MAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TodayActivity"
            android:label="@string/calendar_today"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/bottom_menu_settings"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BLEScanActivity"
            android:label="@string/settings_bluetooth"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".onboarding.AppDemoActivity"
            android:label="@string/settings_app_tour"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HTMLViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".onboarding.fish.SelectFishActivity"
            android:label="@string/settings_favorite_fish"
            android:parentActivityName=".onboarding.RegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".triplog.TripLogListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.reelsonar.ibobber.Actions.TRIPLOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".triplog.TripLogMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".triplog.TripLogDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LanguageActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".bluetooth.BTService"
            android:enabled="true" />

        <!--facebook meta data-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--facebook activity's -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="a263a18cb70c0f29ed60efd51ebaeb4f3018dc49" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/ga_global_config" />7) On Create Trip Log image is not perfectly
        showing into trip log

        <activity
            android:name=".triplog.FacebookActivity"
            android:icon="@drawable/fb_logo"></activity>
        <activity
            android:name=".ImageDisplayActivity"
            android:label="@string/title_activity_image_display"></activity>
        <activity
            android:name=".triplog.ShareActivity"
            android:icon="@drawable/fishidy_app_icon_no_text"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".triplog.FishidyUploadActivity"
            android:icon="@drawable/fishidy_app_icon_no_text"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".PurchaseDateActivity"
            android:label="@string/title_activity_purchase_date">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LoginEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetFishAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
        <activity
            android:name=".NetFishAdsSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
        <!--Appflyer-->
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="65581e5072efafdddb5bb952d7926156d2f737fd" />
    </application>

</manifest>
